# IntelliJ
.idea/
*.iml
out/

# VS Code
.vscode/
*.code-workspace

# Java
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
*.log

# Eclipse
.classpath
.project
.settings/
bin/

# OS
.DS_Store
lib/